.container {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 10px;
  border-radius: 15px;
  backdrop-filter: blur(1px);
  user-select: none;
  border: 1px solid rgb(162, 169, 177, 0.5);
}

.inputGroup {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  color: white;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 11px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 8px;
  width: 70px;
  height: 35px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  -moz-appearance: textfield;
  appearance: textfield;
}

.alert {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  background: #ff4757;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 3s forwards;
}


@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }

  15% {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  85% {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
}