*, *::before, *::after {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
  outline: none;
}  

html, body, #root{
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

#root{
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/Assets/Fonts/OpenSans.ttf") format("truetype");
}

@font-face {
  font-family: 'Old Standard TT';
  src: url("/Assets/Fonts/OldStandardTt.ttf") format("truetype");
}


input, button, textarea, select {
  font-family: inherit;
}